extends layout

block middle
  #tooplate_middle
    #slider
      img#slideA.slide.is-active(src="/images/slideshow/01.jpg", alt="slide")
      img#slideB.slide(src="", alt="")
      .slider-caption
        p Suspendisse quis velit ac nisl ultrices tristique a eu velit.

block main
  #tooplate_main
    .col_w960
      h2 Welcome to Green Age
      .col_w450.float_l
        .wwd_box
          img(src="/images/icon1.png", alt="Work One")
          h3
            a(href="#") Download Free Templates
          p
            | Green Age is a free
            a(href="#") website template
            |  for everyone. You may edit and apply this template for any purpose.
          a.more.float_r(href="#") More
          .cleaner

        .wwd_box
          img(src="/images/icon2.png", alt="Work Two")
          h3
            a(href="#") Aenean Quis Nulla ac Nisl Rutrum
          p Cras scelerisque ligula id mi suscipit, sed fringilla ipsum blandit. Sed dictum ante tellus, tristique luctus dolor porttitor at.
          a.more.float_r(href="#") More
          .cleaner

      .col_w450.float_r
        .wwd_box
          img(src="/images/icon3.png", alt="Work Three")
          h3
            a(href="#") Online Marketing
          p Sed et eros ac mauris suscipit viverra. Validate XHTML and CSS.
          a.more.float_r(href="#") More
          .cleaner

        .wwd_box
          img(src="/images/icon4.png", alt="Work Four")
          h3
            a(href="#") Praesent Dui Nibh Eleifend Lobortis
          p Suspendisse ligula massa, cursus eget nunc sed, interdum cursus eros.
          a.more.float_r(href="#") More
          .cleaner

      .cleaner

    .col_w960.col_w960_last
      h2 Latest Projects
      .lp_box
        h6 Nullam ut neque neque
        a(href="#")
          img(src="/images/tooplate_image_01.jpg", alt="Image 01")
        p Etiam ut nibh et urna cursus ultricies nec vel nunc. In hac habitasse platea dictumst.
        a.more.float_r(href="#") More
        .cleaner

      .lp_box
        h6 Sed aliquam mauris
        a(href="#")
          img(src="/images/tooplate_image_02.jpg", alt="Image 02")
        p Donec ullamcorper feugiat nunc ut tempus. Sed sodales, nibh ut ultricies pulvinar.
        a.more.float_r(href="#") More
        .cleaner

      .lp_box.lp_box_last
        h6 Aliquam aliquet sem
        a(href="#")
          img(src="/images/tooplate_image_03.jpg", alt="Image 03")
        p Praesent auctor quam quis libero venenatis dapibus. Donec ullamcorper feugiat nunc ut tempus.
        a.more.float_r(href="#") More
        .cleaner

      .cleaner
