extends layout

block content
  header.site-header
    .header-inner
      a.brand(href="/", aria-label="GreenAge")
        img.brand-logo(src="/images/tooplate_logo.png", alt="GreenAge")
        span.brand-tagline Free Website Templates

